<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Product List</h2>
      <p>List of all products available in our stores. Click on the product to view details of each product</p>
      <hr>
    </div>
    <div class="col-sm-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Name</th>
            <th scope="col">Product Details</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onSelect(product.productId)"
            *ngFor="let product of summaryProducts  | paginate: {id: 'listPagination', itemsPerPage: pageSize, currentPage: page, totalItems: collectionSize }">
            <td>{{ product.productId}}</td>
            <td>
              <img src={{product.imageUrl}} class="mr-2" style="width: 30px">
              {{ product.name}}</td>
            <td>View Details</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <pagination-controls id="listPagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
        </pagination-controls>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2" (select)="onSelect2()">2 items per page</option>
          <option [ngValue]="5" (select)="onSelect2()">5 items per page</option>
          <option [ngValue]="10" (select)="onSelect2()">10 items per page</option>
          <option [ngValue]="15" (select)="onSelect2()">15 items per page</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4"></div>
    <button type="button" class="btn btn-success" (click)="onSelect3()">Back to Home page</button>
  </div>
</div>